name: Build Online

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["lts/*"]
    steps:
    - uses: actions/checkout@v4
      with:
        show-progress: false
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true
        cache: npm
    - name: "npm install & build"
      run: |
        npm ci
        npm run build-ci
      env:
        CI: true
    - name: commit, push
      uses: EndBug/add-and-commit@v9
      with:
        add: 'dist'
        author_name: GitHub Actions
        author_email: actions@github.com
        branch: master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
